.list{
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;



}

.list-title {
font: var(--baseFont);
margin-block: .5rem;

}

.list-content {
  margin: 0;
  padding: 0;
  list-style: none;
  /* line-height: ; */
  display: flex;
  flex-direction: column;
  gap: .5rem;


}

.list-item {
  /* background-color: red; */
}

.list-item a{
font: var(--baseFontBold);
transition: color .2s;
}